.weatherContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weatherHistory {
  /* display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px 120px 120px 120px 120px; */
  display: flex;
  align-items: center;
  border-top: 1px solid #cecece;
  padding: 10px;
  cursor: pointer;
}

.historyTitle {
  font-size: 30px;
  padding: 12px;
}

.weatherTitle {
  width: 120px;
  align-self: center;
  text-align: center;
}

.weatherHistory:hover {
  background-color: #547f8e;
}

.removeCity {
  border: none;
  background: none;
  cursor: pointer;
  padding: 4px;
}


